@{
    ViewBag.Title = Model.makale_baslik;
}

@model proje.Models.makale 
@* makalenin özelliklerine erişebilmek için açtı  *@
  <div class="blog-posts classic-blog single">
          <div class="post format-image">
            <div class="meta"><span class="date">@Model.makale_tarih</span>
                <span class="categories"><a href="/Kategori/Index/@Model.makale_kategorid">@Model.kategori.kategori_adi</a>
              </span><span class="comments"><a href="#Yorums">@Model.yorums.Count<i class="icon-chat-1"></i></a></span></div>
            <h1 class="post-title">@Model.makale_baslik</h1>
            <figure class="main">
              <img src="@Model.resim.buyukboyut
" alt="" /></figure>
            <div class="post-content">
             <p>@Model.makale_icerik</p>
              <div class="meta tags">
                  @foreach (proje.Models.etiket etk in Model.etikets)
                  {
                    <a href="/Etiket/Index/@etk.etiket_id">@etk.etiket_adi</a>   
                  }
                 
            </div>
              <div class="click-share">
                <ul>
                  <li><a class="btn share-facebook" href="#">Beğen</a></li>
                  <li><a class="btn share-twitter" href="#">Tweet</a></li>
                  <li><a class="btn share-pinterest" href="#">Pin </a></li>
                </ul>
              </div>
              <!-- /.share-links --> 
              
            </div>
          </div>
          <!-- /.post --> 
          
        </div>
        <!-- /.blog-posts -->
        
        <div class="about-author dark-wrapper">
          <div class="author-image"> <img alt="" src="@Model.yazar.resim.ortaboyut" /> </div>
          <div class="author-details">
            <h3>@Model.yazar.yazar_adi @Model.yazar.yazar_soyadi Yazar Hakkında</h3>
            <p>@Model.yazar.yazar_aciklama</p>
            <ul class="social">
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="divide100"></div>
<a id="Yorum" />
        <div id="comments">
          <h3>@Model.yorums.Count  Yorum</h3>
          <ol id="singlecomments" class="commentlist">
              @foreach (proje.Models.yorum  yorum in Model.yorums)
              {
                   <li>
              <div class="comment-wrapper">
                <div class="user"><img alt="" src="/Content/images/default.png" class="avatar" /></div>
                <div class="message">
                  <div class="arrow-box">
                    <div class="info">
                      <h2><a href="#">@yorum.yorum_adsoyad</a></h2>
                      <div class="meta"> <span class="date">@yorum.yorum_tarih.ToShortDateString()</span> </div>
                    </div>
                    <p>@yorum.yorum_icerik</p>
                  </div>
                </div>
              </div>
            </li>
           
              }
           
          </ol>
        </div>
        <!-- /#comments -->
        <div class="divide100"></div>
        <div class="comment-form-wrapper">
          <h3>Düşüncelerini Paylaşmak İster Misin?</h3>
          <p>E-Mail adresiniz yayınlanmayacaktır.Zorunlu alanlar * ile gösterilmiştir.</p>
          <form class="comment-form" name="form_name" action="/Makale/YorumYaz/@Model.makale_id" method="post">
            <div class="name-field">
              <label><i class="icon-user"></i></label>
              <input type="text" name="yorum_adsoyad" placeholder="İsim Soyisim*"/>
            </div>
            <div class="email-field">
              <label><i class="icon-mail-alt"></i></label>
              <input type="text" name="email" placeholder="Email*" />
            </div>
            <div class="website-field">
              <label><i class="icon-globe"></i></label>
              <input type="text" name="website" placeholder="Website" />
            </div>
            <div class="message-field">
              <textarea name="yorum" id="textarea" rows="5" cols="30" title="Yorumunuzu Giriniz..."></textarea>
            </div>
            <input type="submit" value="Submit" name="submit" class="btn btn-submit" />
          </form>
        </div>
        <!-- /.comment-form-wrapper --> 